<div class="container fluid">

    <div class="container mt-2" *ngIf="usuario">

        <app-loading *ngIf="show_load"></app-loading>
    
        <mat-paginator showFirstLastButtons [length]="allPersons.length" [pageSize]="page_size" [pageSizeOptions]="pageSizeOptions" (page)="handlePage($event)">
        </mat-paginator>
    
        <div class="row" *ngIf="allPersons">
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 mb-1" *ngFor="let c of allPersons | customPaginate:page_size:page_number; let p = index" data-toggle="tooltip" title="Click para ver detalles." (click)="abrirModal(c)">

                <!--Card-->
                <div class="card-group set_height">
                    <div class="card text-center" data-toggle="modal" data-target="#c_m">
                        <img class="card-img-top img-responsive" src="{{ c.picture['large'] }}">
                        <div class="card-body">
                            <p class="card-title font-weight-bold">
                                {{ c.name['title'] +" "+ c.name['first'] +" "+ c.name['last'] | titlecase }}
                            </p>
                            <p class="card-title">
                                {{ c.email }}
                            </p>
                            <p class="card-title font-weight-bold">
                                {{ buscarPais(c.nat) }}
                            </p>
                        </div>
                        <div class="card-footer">
                            <p class="text-right">Edad: {{ c.dob['age'] }}</p>
                        </div>
                    </div>
                </div>
                <!--Card-->

            </div> <!--div ngfor-->
        </div>

        <!--Modal-->
        <div *ngIf="modal" class="modal fade bd-example-modal-lg" id="c_m" tabindex="-1" role="dialog" aria-labelledby="eml" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
        
                    <div class="modal-body">
        
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-3">
                                    <img [src]="person['picture']['large']" class="img-fluid w-100">
                                    <div class="form-group row mt-3">
                                        <h3 class="col-sm-12 font-weight-bold">{{ buscarPais(person['nat']) }}</h3>
                                        <label class="col-sm-4 col-form-label col-form-label-sm">Edad</label>
                                        <div class="col-sm-6">
                                            <select class="form-control" id="edad">
                                                <option *ngFor="let ed of edades" [value]="ed" [selected]="ed === person['dob']['age']">
                                                    {{ ed }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 ml-auto">
        
                                    <form [formGroup]="fSave">
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nombre</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="nombre" class="form-control">
                                                <input type="hidden" formControlName="img" value="{{ person['picture']['large'] }}">
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Nacimiento</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="fecha_nac" class="form-control">
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Celular</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="celular" class="form-control">
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Pais</label>
                                            <div class="col-sm-10">
                                                <select class="form-control" id="pais">
                                                    <option [selected]="person['nat'] === ps.iso" *ngFor="let ps of paises" [value]="ps.name">
                                                        {{ ps.name }}, {{ ps.iso }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Región/Estado</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="reg_est" class="form-control">
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Comuna</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="comuna" class="form-control">
                                            </div>
                                        </div>
        
                                        <div class="form-group row">
                                            <label class="col-sm-2 col-form-label">Dirección</label>
                                            <div class="col-sm-10">
                                                <input type="text" formControlName="direccion" class="form-control">
                                            </div>
                                        </div>
        
                                    </form>
        
                                </div>
                            </div>
                        </div>
        
                    </div>
        
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary" (click)="guardarPersona()">Guardar Usuario</button>
                    </div>
        
                </div>
            </div>
        </div>
        <!--Modal-->
    
    </div>

    
</div>